.app {
  scroll-behavior: smooth;
}

.app__header {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.app__body {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 700px) {
  .app__body {
    flex-direction: row;
    justify-content: space-between;
  }

  .app__filters {
    width: 30vw;
    margin: 12px 0px;
  }

  .app__programs {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1024px) {
  .app__filters {
    width: 20vw;
  }

  .app__programs {
    width: 80vw;
  }
}

.loading {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top: 50vh;
}